{% extends "base_template.html" %}

{% block title %}Registrar Llegada de Transporte{% endblock %}

{% block content %}
<h2>Registrar Llegada de Transporte</h2>
<form action="{{ url_for('LLegada_transporte') }}" method="post"><!--Formulario llegada  Transporte-->
    <label for="transporte">Seleccionar Transporte:</label>
    <select id="transporte" name="transporte">
        {% for transporte in transportes %}
            <option value="{{ transporte.id }}">{{ transporte.numerotransporte }} - {{ transporte.fechahorasalida }}</option>
        {% endfor %}
    </select><br>
    
    <button type="submit">Registrar Llegada</button>
</form>
{% endblock %}
